In [1]:
import numpy as np
# opsional, pakai cupy untuk menggunakan GPU agar lebih cepat
# import cupy as np

In [2]:
print(f"Numpy/Cupy Versi: {np.__version__}")

Numpy/Cupy Versi: 2.1.1

# Melempar Dadu X-Sisi

In [12]:
# membuat hyperparameter dari dadu tersebut
# membuat hyperparameter jumlah lemparan dadu yang dilakukan
JUMLAH_LEMPARAN  = 1

# membuat hyperparameter dari sisi dadu
SISI_DADU = 20 # Sisi dadu

# memanggil fungsi np.random.randint untuk mensimulasikan dadu dengan parameter sisi dadu dan parameter jumlah lemparan
hasil_lemparan = np.random.randint(1,SISI_DADU+1, size=JUMLAH_LEMPARAN)

# mencetak hasil dari simulasi tersebut
print(f'Hasil Lemparan Sekali Dadu {SISI_DADU} sisi : {hasil_lemparan.astype(np.int64).item()}')

Hasil Lemparan Sekali Dadu 20 sisi : 11

## Simulasikan Melempar dadu lebih dari 1 Sisi

In [13]:
# Hyperparameter: Jumlah Lemparan yang ingin di-simulasikan
JUMLAH_LEMPARAN  = 1000000 

# melempar dadu dengan sisi yang di ingingkan sebanyak jumlah lemparan
hasil_lemparan = np.random.randint(1,SISI_DADU+1, size=JUMLAH_LEMPARAN)

# menghitung berapa kali setiap angka muncul dalam lemparan dadu tersebut kedalam variabel frekuensi
frekuensi = np.bincount(hasil_lemparan, minlength=SISI_DADU+1)[1:]

In [14]:
# Menghitung probabilitas
probabilitas = frekuensi / JUMLAH_LEMPARAN

# menampilkan hasil frekuensi dadu
print(f'\nMenampilkan hasil Frekuensi dadu sisi {SISI_DADU}')
for angka, freq in enumerate(frekuensi, start=1):
    print(f'Frekuensi Angka ke-{angka}: {freq} / {JUMLAH_LEMPARAN}')

# Menampilkan hasil probabilitas untuk setiap angka dari 1 hingga 20
print(f'\nHasil Probabilitas Asli Dadu sisi {SISI_DADU} : {1/SISI_DADU:.6f}')
for angka, prob in enumerate(probabilitas, start=1):
    print(f"Probabilitas Angka {angka}: {prob:.6f}")

Menampilkan hasil Frekuensi dadu sisi 20
Frekuensi Angka ke-1: 50006 / 1000000
Frekuensi Angka ke-2: 49776 / 1000000
Frekuensi Angka ke-3: 49763 / 1000000
Frekuensi Angka ke-4: 50107 / 1000000
Frekuensi Angka ke-5: 50222 / 1000000
Frekuensi Angka ke-6: 49913 / 1000000
Frekuensi Angka ke-7: 49919 / 1000000
Frekuensi Angka ke-8: 50014 / 1000000
Frekuensi Angka ke-9: 50310 / 1000000
Frekuensi Angka ke-10: 49882 / 1000000
Frekuensi Angka ke-11: 49893 / 1000000
Frekuensi Angka ke-12: 50051 / 1000000
Frekuensi Angka ke-13: 49899 / 1000000
Frekuensi Angka ke-14: 50076 / 1000000
Frekuensi Angka ke-15: 50296 / 1000000
Frekuensi Angka ke-16: 50089 / 1000000
Frekuensi Angka ke-17: 49918 / 1000000
Frekuensi Angka ke-18: 50291 / 1000000
Frekuensi Angka ke-19: 49820 / 1000000
Frekuensi Angka ke-20: 49755 / 1000000

Hasil Probabilitas Asli Dadu sisi 20 : 0.050000
Probabilitas Angka 1: 0.050006
Probabilitas Angka 2: 0.049776
Probabilitas Angka 3: 0.049763
Probabilitas Angka 4: 0.050107
Probabilitas Angka 5: 0.050222
Probabilitas Angka 6: 0.049913
Probabilitas Angka 7: 0.049919
Probabilitas Angka 8: 0.050014
Probabilitas Angka 9: 0.050310
Probabilitas Angka 10: 0.049882
Probabilitas Angka 11: 0.049893
Probabilitas Angka 12: 0.050051
Probabilitas Angka 13: 0.049899
Probabilitas Angka 14: 0.050076
Probabilitas Angka 15: 0.050296
Probabilitas Angka 16: 0.050089
Probabilitas Angka 17: 0.049918
Probabilitas Angka 18: 0.050291
Probabilitas Angka 19: 0.049820
Probabilitas Angka 20: 0.049755

## Membuat dataframe untuk hasil Dadu tersebut

In [15]:
import pandas as pd

In [16]:
data = {
    "Angka": np.arange(1, SISI_DADU + 1),
    "Frekuensi": frekuensi,
    "Probabilitas": probabilitas
}

df = pd.DataFrame(data)
df

    Angka  Frekuensi  Probabilitas
0       1      50006      0.050006
1       2      49776      0.049776
2       3      49763      0.049763
3       4      50107      0.050107
4       5      50222      0.050222
5       6      49913      0.049913
6       7      49919      0.049919
7       8      50014      0.050014
8       9      50310      0.050310
9      10      49882      0.049882
10     11      49893      0.049893
11     12      50051      0.050051
12     13      49899      0.049899
13     14      50076      0.050076
14     15      50296      0.050296
15     16      50089      0.050089
16     17      49918      0.049918
17     18      50291      0.050291
18     19      49820      0.049820
19     20      49755      0.049755

In [19]:
np.random.rand(10)

array([0.43180374, 0.91993915, 0.35519214, 0.20777582, 0.92860795,
       0.17806674, 0.15265279, 0.96091415, 0.76785022, 0.98970053])